# Introduction to Python

- Variable
- Data Type Primary
  - Number
    - Integer
    - Float
  - String
  - Boolean
- Data Type Array (Collections of Data)
  - List
  - Tuple
  - Dictionary
  - Set
- Operation

---

Nama :  Panji Putra Rianto  
Batch :  HCK-012

---

In [1]:
# Run this block code
#tampilkan hello
print("HELLO")

# print("WORLD")

HELLO

# Variable

Rules dari membuat nama variable:
- Dimulai dengan huruf
- Perhatikan plural / singular jika dalam bahasa inggris
- bisa camelCase, PascalCase, snake_case tidak kebab-case.


Buatlah 3 variable yaitu:
- variable name dan isi dengan namamu
- variable favoriteNumber isi dengan angka kesukaanmu
- variable isHungry dan isi True jika kamu lapar dann False jika kamu tidak lapar

In [20]:
# Code dibawah ini
name = "Panji"
favoriteNumber = 12
isHungry = False

# Data Type Primary

## Data Type Number

Terdapat Integer dan Float

In [16]:
# Latihan kode disini (Ikuti dalam kelas)
print(favoriteNumber)
print(type(favoriteNumber))
print(favoriteNumber == 100)

favoriteNumber = 50 # Reassignment =
print(favoriteNumber)

favoriteNumber = favoriteNumber - (favoriteNumber / 10)
print(favoriteNumber)

45.0
<class 'float'>
False
50
45.0

## Data Type String

Peruntukannya untuk text dapat menggunakan kutip 1 atau 2 ' "

In [37]:
# Latihan kode disini (Ikuti dalam kelas)
name = "panji"
print(name)
print(type(name))
print(len(name))

# Coba tambahkan angka ke string
name += str(" 3")
print(name)

# Coba fungsi len dengan ada spasi
print(len(name))

# Coba akses character pertama dan kedua
print (name[0])
print (name[4])

# Menggabung
girl = "naya"
boy = "jarwo"

gabungan = "boy" + "girl"
print (len(gabungan))

panji
<class 'str'>
5
panji 3
7
p
i
7

## Data Type Boolean

Yaitu True dan False

In [40]:
# Latihan kode disini (Ikuti dalam kelas)
print(name, isHungry, favoriteNumber)
print(f"Namaku {name}, angka favoritku adalah {favoriteNumber}, Status lapar {isHungry},")

# gunakan f dan kurung {} untuk mengubah string jadi variabel

panji 3 False 12
Namaku panji 3, angka favoritku adalah 12, Status lapar False,

# Data Type Array / Data Type For Collections of Data

Kalo w3school menyebutkannya sebagai [Python Collections (Arrays)](https://www.w3schools.com/python/python_lists.asp#:~:text=Python%20Collections%20(Arrays)).

----- note disini latihan menggunakaan markdown text yaa..

## LIST []

In [48]:
names = ["Bita", "Nicku", "Ogi", "Riki", "Naufal"]
print(names)
print(type(names))
print(len(names))

names.append("Ayu")
print(names)
print(names[-1])

['Bita', 'Nicku', 'Ogi', 'Riki', 'Naufal']
<class 'list'>
5
['Bita', 'Nicku', 'Ogi', 'Riki', 'Naufal', 'Ayu']
Ayu

In [56]:
numbers = [5000, 3000, 1000, 2000, 6000]
print(numbers)

# Pass References (gunakan copy untuk mengubah tanpa mempengaruhi reference)
KumpulanAngka = numbers.copy()

# Ascending
KumpulanAngka.sort()
print(KumpulanAngka)

# Descending
KumpulanAngka.sort(reverse=True)
print(KumpulanAngka)

[5000, 3000, 1000, 2000, 6000]
[1000, 2000, 3000, 5000, 6000]
[6000, 5000, 3000, 2000, 1000]

In [57]:
print(numbers)

[5000, 3000, 1000, 2000, 6000]

## CARA HANDLE PASS REFERENCE

In [58]:
listMakanan = ["Seblak", "Martabak", "Sushi"]
listMakananFavorite = listMakanan
listMakananFavorite.append("NasiGoreng")
# Keduanya Berubah
print(listMakananFavorite)
print(listMakanan)

['Seblak', 'Martabak', 'Sushi', 'NasiGoreng']
['Seblak', 'Martabak', 'Sushi', 'NasiGoreng']

In [60]:
listMakananFavorite = listMakanan.copy()
listMakananFavorite.append("Batagor")
print(listMakanan)
print(listMakananFavorite)

['Seblak', 'Martabak', 'Sushi', 'NasiGoreng']
['Seblak', 'Martabak', 'Sushi', 'NasiGoreng', 'Batagor']

In [61]:
# Untuk Memanggil Index Yang Mana
print (listMakananFavorite[:3])

['Seblak', 'Martabak', 'Sushi']

## TUPLE ()

In [63]:
listNama = ("Jarwo, Bambang, Jamet")
print(listNama)

Jarwo, Bambang, Jamet

## DICTIONARY

In [68]:
persianCat = {
    'name' : 'Joni',
    'age' : 6,
    'weight' : 3.5,
    'height' : 60
}

print(persianCat)
print(len(persianCat))

# Akses value dengan keyname (bukan index)
print(persianCat['name'])

# Menambah keyname dan value baru
persianCat['isVaksin'] = True
print(persianCat)

# Mengubah Value
persianCat['name'] = 'Jamet'
print(persianCat)

{'name': 'Joni', 'age': 6, 'weight': 3.5, 'height': 60}
4
Joni
{'name': 'Joni', 'age': 6, 'weight': 3.5, 'height': 60, 'isVaksin': True}
{'name': 'Jamet', 'age': 6, 'weight': 3.5, 'height': 60, 'isVaksin': True}

## Exercise

In [73]:
listHck12 = {
    "students": ['Alifa', 'Zain', 'Husein', 'Panji', 'Tude', 'Tania'],
    "buddy": ['Prof', 'Dom', 'Fachrul', 'Prof', 'Dom', 'Fachrul'],
    "scores": [100, 100, 90, 90, 100, 50]
}

print(listHck12 ['students'] [1], listHck12 ['buddy'] [1])
print(listHck12['scores'])
print(max(listHck12['scores']))
print(min(listHck12['scores']))

Zain Dom
[100, 100, 90, 90, 100, 50]
100
50